{% extends 'layouts/base.html' %}
{% block header %}
<nav>
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ url_for('page.home') }}">
{#            <img src="{{ url_for('static', filename='images/highcampers.png') }}"#}
{#                 class="img-responsive d-inline-block align-top"#}
{#                 width="30" height="30"#}
{#                 style="margin: 0.5em 0 0 1em;"#}
{#                 title="Highcampers" alt="Highcampers"/>#}
                    <svg style="margin-top: 0.9em;" width="136px" height="26px" viewBox="0 0 136 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
                    <title>logo</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Exploration" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="product-selection-1-copy-20" transform="translate(-129.000000, -67.000000)">
                    <g id="Group" transform="translate(114.000000, 55.000000)">
                    <g id="logo" transform="translate(15.000000, 12.000000)">
                    <text id="HIGHC" opacity="0.800000012" font-family="ArcherPro-Bold, ArcherPro" font-size="17.6" font-weight="bold" letter-spacing="0.255999994" fill="#000000">
                        <tspan x="0" y="19.6585366">HIGHC</tspan>
                    </text>
                    <text id="MPERS" opacity="0.800000012" font-family="ArcherPro-Bold, ArcherPro" font-size="17.6" font-weight="bold" letter-spacing="0.255999994" fill="#000000">
                        <tspan x="79.5714286" y="19.6585366">MPERS</tspan>
                    </text>
                    <path d="M68.6470556,25.8092526 C68.4206715,20.3028635 69.2829488,20.8527884 74.9622698,15.3223971 C80.6415909,9.79200568 75.681624,4.49206628 75.4994161,4.46502577 C75.7496462,8.0200929 73.9769411,9.07436885 74.0176016,8.92898815 C75.755302,1.5868828 70.5558051,0 70.5558051,0 C70.5558051,0 72.8488115,2.67451621 65.4497779,8.202035 C58.0507443,13.7295538 61.2254819,16.9660183 61.2254819,16.9660183 C61.3307074,16.876153 67.4600501,10.658081 73.6224612,11.2060115 C71.6337664,11.7980163 70.0001629,13.0704393 69.9260263,13.1748035 C62.8376516,19.8955848 68.7635341,25.9964094 68.7635341,25.9964094" id="Path-10" fill="#F15A53"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav navbar-right">
               {% if current_user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account
                    <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('user.settings') }}">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Session</li>
                    <li><a href="{{ url_for('user.logout') }}">Log out</a></li>
                  </ul>
                </li>
              {% else %}
                <li><a href="{{ url_for('user.login') }}">Log in</a></li>
                <li><a href="{{ url_for('user.signup') }}">Sign up</a></li>
              {% endif %}
            </ul>
        </div>
      </div>
    </nav>
  </nav>
{% endblock %}

{% block footer %}
    <li><a href="{{ url_for('page.privacy') }}">Privacy Policy</a></li>
    <li><a href="{{ url_for('page.terms') }}">Terms of Service</a></li>
    <li><a href="{{ url_for('contact.index') }}">Contact Us</a></li>
{% endblock %}