{% extends 'layouts/base.html' %}

{% block header %}



{% endblock %}

{% block footer %}
    <li><a href="{{ url_for('page.privacy') }}">Privacy Policy</a></li>
    <li><a href="{{ url_for('page.terms') }}">Terms of Service</a></li>
    <li><a href="{{ url_for('contact.index') }}">Contact Us</a></li>
{% endblock %}