{% extends 'layouts/login.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Login{% endblock %}
{% block meta_description %}Login into highcampers and explore the world of travellers{% endblock %}

{% block body %}
<div class="login-image"></div>
  <div class="row">
    <div class="col-md-5 panel">
      {% call f.form_tag('user.login') %}
        <legend>Welcome Back</legend>

        {% call f.form_group(form.identity, css_class='',
                             placeholder='Username or Email') %}
        {% endcall %}

        {% call f.form_group(form.password, css_class='',
                             placeholder='Enter password') %}
        {% endcall %}

        <button type="submit" class="btn btn-primary">Submit</button>
      {% endcall %}
      <div class="text-center md-margin-top">
        <a href="{{ url_for('user.begin_password_reset') }}" class="text-muted">
          Forgot your password?
        </a>
      </div>

    </div>

  </div>
{% endblock %}

