{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Account Settings{% endblock %}
{% block meta_description %}Sign up with highcampers and explore the world of travellers{% endblock %}


{% block body %}
{#    <p>{{ current_user.username }}</p>#}
{#    <p>{{ current_user.password }}</p>#}
{#    <p>{{ current_user.sign_in_count }}</p>#}
{#    <p>{{ current_user.role }}</p>#}
    <div id='settings-selection' class="row">
        <div class="col-md-3 vertical-tabs">
             <ul class="nav nav-tabs">
                  <li class="nav-item active"><a href="#profile-settings"
                                        data-toggle="tab"><i style="padding: 0 10px 0 2px;"
                                                        class="fa fa-user"></i>Profile</a></li>
                  <li class="nav-item"><a href="#billing-settings"
                                          data-toggle="tab"><i style="padding-right: 8px;"
                                                        class="fa fa-credit-card"></i>Billing</a></li>
                  <li class="nav-item"><a href="#preferences-settings"
                                          data-toggle="tab"><i style="padding: 0 10px 0 2px;"
                                                        class="fa fa-cog"></i>Preferences</a></li>
             </ul>
        </div>
        <div class="panel col-md-9 tab-content">
            <div id="profile-settings"
                 class="tab-pane active">
                {% call f.form_tag('user.settings') %}
                <legend>Update Settings</legend>
                {% call f.form_group(form.fullname, css_class='',
                                     autofocus='autofocus',
                                     placeholder='Your Full Name') %}
                {% endcall %}
                {% call f.form_group(form.username, css_class='',
                                     placeholder='Enter your email address') %}
                {% endcall %}
                {% call f.form_group(form.email, css_class='',
                                     placeholder='Enter your email address') %}
                {% endcall %}
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{{ url_for('user.update_password') }}"
                   class="btn btn-default">Change Password</a>
                {% endcall %}
            </div>
            <div id="billing-settings" class="tab-pane">
                <h1>Billing Section</h1>
            </div>
            <div id="preferences-settings" class="tab-pane">
                <h1>Preferences</h1>
            </div>
        </div>
    </div>

    <script>
{#    $(document).ready(function() {#}
{#        $(".tabs-menu a").click(function(event) {#}
{#            event.preventDefault();#}
{#            $(this).parent().addClass("active");#}
{#            $(this).parent().siblings().removeClass("active");#}
{#            var tab = $(this).attr("href");#}
{#            $(".panel-tab-contentab-content").not(tab).css("display", "none");#}
{#            $(tab).fadeIn();#}
{#        });#}
{#    });#}
    </script>

{% endblock %}