{% extends 'layouts/login.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Update Password{% endblock %}
{% block meta_description %}Update your password{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
      {% call f.form_tag('user.update_password') %}
        <legend>Update your password</legend>
        {% call f.form_group(form.current_password, css_class='',
                             autofocus='autofocus',
                             placeholder='Current Password') %}
        {% endcall %}
        {% call f.form_group(form.password, css_class='',
                             autofocus='autofocus',
                             placeholder='Enter a new Password') %}
        {% endcall %}
        <button type="submit" class="btn btn-primary">Update Password</button>
          <a href="{{ url_for('user.settings') }}"
                   class="btn btn-default">Cancel</a>
      {% endcall %}
    </div>
  </div>
{% endblock %}

