/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

a {
    color: #3e55ff;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #e9e9e9;
    height: 60px;
}

/* Margin and padding
-------------------------------------------------- */
.lg-margin-bottom {
    margin-bottom: 60px;
}

.lg-margin-top {
    margin-top: 60px;
}

.md-margin-top {
    margin-top: 40px;
}

.sm-margin-top {
    margin-top: 20px;
}


/* Bootstrap overrides
-------------------------------------------------- */
label {
  font-weight: 400;
}

.alert-small {
  padding: 5px;
  margin-bottom: 0;
}

.alert-error, .alert-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-error hr, .alert-message hr {
  border-top-color: #e4b9c0;
}

.alert-error .alert-link, .alert-message .alert-link {
  color: #843534;
}


/* Bootstrap Vertical Tabs Overrides
-------------------------------------------------- */
.vertical-tabs>ul.nav.nav-tabs {
    border: none;
}

.vertical-tabs li {
    width: 100%;
}

.vertical-tabs>.nav-tabs>li.active>a {
    border: none;
    color: #3e55ff;
    background-color: #f9f9f9;
    margin-right: 0;
    border-width: 0;
}

.vertical-tabs>.nav-tabs>li>a {
    color: #777;
    margin-right: 0;
    border-width: 0;
}

.vertical-tabs>.nav-tabs>li.active>a:hover, .vertical-tabs>.nav-tabs>li.active>a:focus {
    color: #3e55ff;
}

.vertical-tabs>.nav-tabs>li>a:hover, .vertical-tabs>.nav-tabs>li>a:focus {
    /*border-color: #f9f9f9;*/
    color: #000000;
    background-color: #f9f9f9;
}

.login-image {
    width: 45%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-image: url('/static/images/login-image.png');
    background-position: 70%;
}